.container-left .icon-bars {
  position: relative;
  cursor: pointer;
}
.div-x-menu-hamburger {
  background: var(--dark-blue);
  padding: 1em;
  margin-left: -5em;
  display: none;
  cursor: pointer;
}
.x-menu-hamburger {
  font-size: 30px;
  text-align: center;
  color: var(--white);
}
.list-hamburger {
  display: none;
  background: var(--white);
  position: absolute;
  padding: 1em 5em 1em 1em;
  font-family: "poppins";
  z-index: 1;
  top: 7em;
  margin-left: -5em;
}
.list-hamburger h2 {
  color: var(--orange);
  margin: 1em 0;
  font-size: 2em;
}
.list-hamburger ul {
  list-style: none;
}
.list-hamburger ul li {
  margin: 2em 0;
  font-size: 1.6em;
  color: var(--dark-blue);
}
