.container-left .icon-bars {
  position: relative;
  cursor: pointer;
}
.div-x-menu-hamburger {
  background: var(--dark-blue);
  padding: 1em;
  display: none;
  cursor: pointer;
}
.div-x-menu-hamburger:hover {
  background: var(--orange);
}
.x-menu-hamburger {
  font-size: 30px;
  text-align: center;
  color: var(--white);
}
.list-hamburger {
  height: auto;
  display: none;
  position: absolute;
  font-family: "poppins";
  background: var(--white);
  z-index: 1;
  top: 7em;
}
.list-hamburger h2 {
  color: var(--orange);
  padding: 1em;
  font-size: 2em;

}
.list-hamburger ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.list-hamburger ul li {
  padding: 1em;
  font-size: 1.6em;
  color: var(--dark-blue);
}
.list-hamburger ul li:hover{
  background: var(--gradient-blue);
  color: var(--white);
}
