.container-left .hamburger {
  position: relative;
  cursor: pointer;
}
.list-hamburger {
  height: auto;
  display: none;
  position: absolute;
  font-family: "poppins";
  background: var(--white);
  z-index: 1;
  top: 7em;
}
.hamburger.is-active ~ .list-hamburger {
  display: block;
}
.list-hamburger h2 {
  color: var(--orange);
  padding: 1em;
  font-size: 2em;
}
.list-hamburger ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.list-hamburger ul li {
  padding: 1em;
  font-size: 1.6em;
  color: var(--dark-blue);
}
.list-hamburger ul li a {
  color: inherit;
}
.list-hamburger ul li:hover {
  background: var(--gradient-blue);
  color: var(--white);
}
