.header-banner {
  background: var(--gradient-blue);
  color: var(--white);
  font-family: "poppins";
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  padding: 3em 0;
}
.header-banner .text h2 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
.header-banner .text p {
  font-size: 1.6em;
  padding: 0 3em;
  margin: 0 auto;
}
.search {
  width: 90%;
  height: 44px;
  margin: 2em auto 0;
  position: relative;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-banner .barra-search {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  padding: 0;
  background: none;
  font-size: 1.6em;
  padding: 0 3em;
  color: var(--white);
  border: 1px solid var(--white);
  text-overflow: ellipsis;

}
.header-banner .barra-search::placeholder {
  font-family: "poppins";
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  color: var(--white);

}
.icon-barra-search {
  position: absolute;
  font-size: 2em;
  top: 30%;
  left: 5%;
}
.icon-barra-search:hover {
  color: var(--orange);
}
@media (max-width: 400px) {
  .header-banner .text p {
    font-size: 1.6em;
    padding: 0 1.5em;
    margin: 0 auto;
  }
  .header-banner .barra-search {
    width: 80%;
  }
  .icon-barra-search {
    left: 15%;
  }
}
@media (min-width: 1024px) {
  .header-banner {
    height: 330px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search {
    width: 40%;
    height: 50px;
    margin-top: 4em;
  }
  .header-banner .barra-search {
    padding: 0 5em;
  }
  .header-banner .text h2 {
    font-size: 3.6em;
    margin-bottom: 0.1em;
  }
}
