header {
  width: 100%;
}
header a {
  text-decoration: none;
}
.logo-header {
  cursor: pointer;
}
.header-container {
  padding: 2em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--white);
}
.header-container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .container-left {
  display: flex;
  align-items: center;
  gap: 2em;
}
.container-list,
.icon-list p,
.container-left h1 {
  display: none;
}
.icons-header {
  font-size: 35px;
  color: var(--dark-blue);
}
.icons-header:hover {
  color: var(--orange);
}
.container-right ul {
  display: flex;
  list-style: none;
  gap: 2em;
}
.icon-list a {
  color: inherit;
}
.icon-list a:hover {
  color: var(--orange);
}
.div-list-user {
  display: none;
}
@media (min-width: 700px) and (max-width: 1024px) {
  .header-container nav {
    gap: 30em;
  }
}
@media (min-width: 1024px) {
  .icon-bars,
  .icon-heart {
    display: none;
  }
  .container-list,
  .container-left h1 {
    display: block;
  }
  .header-container {
    padding: 2em 0;
  }
  .header-container nav {
    align-items: center;
  }
  .container-left .title {
    font-family: "Josefin Sans";
    font-size: 3em;
  }
  nav .container-left {
    gap: 1em;
  }
  .container-left .title span {
    font-weight: 400;
  }
  .container-right ul {
    gap: 20px;
  }
  .container-list .list-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 3em;
    font-size: 1.6em;
    cursor: pointer;
    position: relative;
  }
  .container-list .list-principal a,
  .div-list-user a,
  .div-list-favorite a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
  .color-background {
    background: var(--gradient-blue);
    color: var(--white);
    padding: 1em;
  }
  .list-principal .list-item:hover {
    color: var(--orange);
  }

  .div-list-category,
  .div-list-favorite {
    position: absolute;
    top: 56px;
    background: var(--white);
    display: one;
  }
  .div-list-category ul,
  .div-list-favorite ul {
    list-style: none;
  }
  .div-list-category li,
  .div-list-user li,
  .div-list-favorite li {
    color: var(--dark-blue);
    padding: 1em;
  }
  .div-list-category li:hover,
  .div-list-user li:hover,
  .div-list-favorite li:hover {
    background: var(--dark-blue);
    color: var(--white);
  }
  .div-list-user {
    background: var(--white);
    position: absolute;
    display: none;
    top: 100px;
    width: 150px;
    right: 45px;
  }
  .div-list-user ul {
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
  }
  .div-list-favorite {
    width: 150px;
    left: 137px;
  }
}
@media (min-width: 1400px) {
  .icon-list p {
    display: block;
  }
  .header-container {
    padding: 3em 0;
  }
  .header-container nav {
    display: flex;
    justify-content: space-between;
  }
  .container-left {
    position: relative;
    left: 10em;
  }
  .container-left .logo-header {
    width: 50px;
  }
  .container-list {
    display: flex;
    position: absolute;
    left: 43em;
  }
  .container-right ul .desktop a {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 200px;
    height: 50px;
  }
  .container-right ul {
    gap: 0px;
  }
  .container-right ul li p {
    font-family: "poppins";
    font-size: 1.6em;
  }
  .icon-heart-header {
    display: none;
  }
  .div-list-category {
    display: none;
    left: 0em;
  }
}
