main.books {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10em;
  padding-bottom: 10em;
}
main.books .container h2 {
  font-size: 2.5em;
  padding: 2em;
  text-align: center;
}
main.books ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.books ul li {
  width: 40%;
  display: flex;
  justify-content: center;
}
.programming,
.front-end,
.infrastructure,
.business,
.design-e-ux {
  display: none;
}
.container .list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description a {
  font-size: 1em;
}

.description a:not(:last-child) {
  margin-right: 2em; 
}
