footer {
  font-family: "poppins";
  margin: 2em 0;
}
footer .container {
  padding: 2em;
}
footer .container h2 {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 1em;
  color: var(--dark-blue);
}
footer .container p {
  max-width: 35ch;
  color: var(--dark-blue);
}
footer .container p,
footer span {
  font-size: 1.6em;
  font-weight: 300;
}
footer .container hr {
  width: 100%;
}
footer a {
  text-decoration: none;
  color: var(--dark-blue);
}
.register-email a {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--dark-blue);
  max-width: 100%;
  width: 350px;
  border-radius: 24px;
  padding: 1em;
  margin: 3em 0;
}
.register-email a i {
  font-size: 1.6em;
}
.group-alura h2 {
  font-size: 2em;
  font-weight: 400;
  padding: 1em 0 0 1em;
  cursor: pointer;
  color: var(--dark-blue);
}
.group-alura h2:hover{
  opacity: 0.7;
}
.group-alura-container {
  display: none;
}
@media (min-width: 701px) {
  footer .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 5em 0;
  }
  .group-alura-container {
    display: flex;
    justify-content: space-around;
  }
  .group-alura-container h3 {
    font-weight: 400;
    letter-spacing: 2px;
    padding: 2em;
    color: gray;
  }
  .group-alura-container ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4em;
    padding: 0.5em;
    color: gray;
  }
}
